.combo-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.combo-box > div {
	width: calc(50% - 25px);
	display: flex;
	justify-content: space-between;
}

.combo-box > div > * {
	width: calc(50% - 25px);
}

@media only screen and (max-width: 768px) {
	.combo-box > div {
		width: calc(100% - 25px);
	}
}

@media only screen and (max-width: 480px) {
	.combo-box > div {
		width: calc(100% - 25px);
	}
}