.my-gallery-heading,
.my-gallery-content  {
    text-align: center;
}

.my-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 2em;
}

.my-gallery > li {
    width: 22.5%;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.my-gallery > li > img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.my-gallery > li > p {
    margin-top: 0.5em;
    text-align: center;
}