.my-gallery-heading
.my-gallery-content  {
    text-align: center;
}

.my-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
}

.my-gallery div {
    width: 22.5%;
    box-sizing: border-box;
    margin-bottom: 25px;
}