.combo-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.combo-box > div {
	width: calc(50% - 25px);
	display: flex;
	justify-content: space-between;
}

.combo-box > div > * {
	width: calc(50% - 25px);
}